// Place all the styles related to the ContentType controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.Items{
	margin-top: 123px;
	margin-left: 32px;
}

.Item{
		margin-bottom: 30px;
	  
	   display: inline-block;
	   text-align: center;;
}

.form_content{
	margin-top: -500px;
	margin-left: 556px;
}
